# 과제3

### 1. Exercise 82:Taxi Fare

In [10]:
basic_pay=4.00

def cal(km):
    global basic_pay
    cost=basic_pay+km//140*0.25
    return cost

cal(int(input("여행한거리(킬로미터)를 입력하시오 : ")))

여행한거리(킬로미터)를 입력하시오 : 234234

422.25

### 2. Exercise 84: Median of Three Values

In [99]:
a_list=[]

a_list.append(int(input("첫번째 숫자를 입력하시오 : ")))
a_list.append(int(input("두번째 숫자를 입력하시오 : ")))
a_list.append(int(input("세번째 숫자를 입력하시오 : ")))

a_list.sort()
a_list[1]

첫번째 숫자를 입력하시오 : 543
두번째 숫자를 입력하시오 : 234
세번째 숫자를 입력하시오 : 345

345

###  3. Exercise 85: Convert an Integer to its Ordinal Number

In [66]:
def toOrdinalNum(n):
    if(n>12):
        return ""
    else:
        return str(n) + {1: 'st', 2: 'nd', 3: 'rd'}.get(4 if 4 <= n<=12 else "", "th")
    
a=input("서수로 바꿀 정수를 입력하세요 : ")  
toOrdinalNum(int(a))

서수로 바꿀 정수를 입력하세요 : 2

'2th'

### 4. Exercise 88: Is it a Valid Triangle?

In [93]:
def is_triangle(a_list):
    a=a_list[0]
    b=a_list[1]
    c=a_list[2]
    if (a > b + c) or (b > a + c) or (c > a + b):
        return False
    else:
        return True

In [94]:
a_list=[]

a_list.append(int(input("첫번째 빨대의 길이를 입력하시오 : ")))
a_list.append(int(input("두번째 빨대의 길이를 입력하시오 : ")))
a_list.append(int(input("세번째 빨대의 길이를 입력하시오 : ")))

is_triangle(a_list)

첫번째 빨대의 길이를 입력하시오 : 3
두번째 빨대의 길이를 입력하시오 : 4
세번째 빨대의 길이를 입력하시오 : 5

True

### 5. Exercise 92: Is a Number Prime?

In [85]:
def is_prime(n=int):
    if n<2:
        return False
    for i in range(2,n):
        if n%i is 0:
            return False
        return True

In [87]:
a=input("정수를 입력하세요 : ")  
is_prime(int(a))

정수를 입력하세요 : 17

True